<!-- loop.hbs -->
<h3>loop.hbs</h3>
<p>
  <b>pagination:</b> {{pagination}}
</p>
{{#foreach posts}}
  <ul>
    <li><b>post_class</b>: {{post_class}}</li>
    <li><b>title</b>: {{title}}</li>
    <li><b>url</b>: {{url}}</li>
    <li><b>author</b>: {{author}}</li>
    <li><b>excerpt</b>: {{excerpt words="26"}}</li>
    <li><b>tags</b>: {{tags prefix=" on "}}</li>
    <li><b>time</b>: {{date format="YYYY-MM-DD"}}</li>
  </ul>
{{/foreach}}
