<h3>navigation.hbs</h3>

<p><b>labs</b>: {{@labs}}</p>

{{#foreach navigation}}
  <ul>
    <li><b>slug</b>: {{slug}}</li>
    <li><b>url</b>: {{url absolute="true"}}</li>
    <li><b>label</b>: {{label}}</li>
    <li><b>current</b>: {{current}}</li>
  </ul>
{{/foreach}}

{{#if @labs.subscribers}}
    <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
{{else}}
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
{{/if}}
