{{!< default}}
<!-- author.hbs -->
{{#author}}
  <ul>
    <li><b>cover</b>: {{cover}}</li>
    <li><b>image</b>: {{image}}</li>
    <li><b>name</b>: {{name}}</li>
    <li><b>bio</b>: {{bio}}</li>
    <li><b>location</b>: {{location}}</li>
    <li><b>website</b>: {{website}}</li>
    <li><b>stats...</b>: {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</li>
  </ul>
{{/author}}

{{> "loop"}}
