<!DOCTYPE html>
<html>
<head>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{ghost_head}}
</head>
<body>
  <h1>default.hbs</h1>

  <ul>
    <li><b>meta_title</b>: {{meta_title}}</li>
    <li><b>meta_description</b>: {{meta_description}}</li>
    <li><b>body_class</b>: {{body_class}}</li>
    <li><b>navigation</b>: {{navigation}}</li>
  </ul>

  {{{body}}}


  <hr />
  &copy; {{date format="YYYY"}} International Review

  {{ghost_foot}}

  {{!-- Fitvids makes video embeds responsive and awesome --}}
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  {{!-- The main JavaScript file for Casper --}}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
